<section>
    <div class="container">
        <div class="row">
            <h1 class="section-header"  translate>C3</h1>
        </div>
        <br><br>
        <div class="row">
            <ul>
                <li class="lii">39th Conference on Stochastic Processes and their Applications (SPA)
                    <br>Moscow, Russia, from July 24 – 28, 2017.
                    <br>The website is under development, but mark your calendar.
                </li>
                <br>
                <li class="lii"><a href="http://iws.boku.ac.at/"> Eighth International Workshop on Simulation </a>
                    <br>Vienna, Austria, September 21 – 25, 2015.
                    <br>Registration deadline: May 1, 2015.
                    <br>Abstract submission deadline: June 30, 2015.
                </li>
                <br>
                <li class="lii"><a href="http://www.amsa.conf.nstu.ru/amsa2015/"> Third International Workshop “Applied Methods of Statistical Analysis. Nonparametric Approach” – AMSA’2015</a>
                    <br>Belokurikha, Altai, Russia, September 14 – 19, 2015.
                    <br>Early registration deadline: May 20, 2015.
                    <br>Abstract submission deadline: February 20, 2015.
                </li>
                <br>
                <li class="lii"><a href="http://www.pdmi.ras.ru/EIMI/2015/Linnik/index.html"> Yu.V.Linnik Centennial Conference
                    "Analytical methods in number theory, probability theory and mathematical statistics"</a>
                    <br>Saint-Peterburg, Russia, September 14 – 18, 2015.
                    <br>Abstract submission deadline: April 15, 2015.
                </li>

            </ul>
            <br><br>
        </div>
    </div>
</section>
