<section>
    <div class="container">
        <div class="row">
            <h1 class="section-header-conf" translate>C3</h1>
        </div>
        <br><br>
        <div class="row">
            <ul>
                <li class="lii">39th Conference on Stochastic Processes and their Applications (SPA)
                    <br>г. Москва, 24 - 28 июля 2017 г.
                    <br>Сайт конференции пока в разработке.
                </li>
                <br>
                <li class="lii"><a href="http://www.tvp.ru/"> XVI Всероссийский Симпозиум
                    по прикладной и промышленной математике (осенняя открытая сессия)</a>
                    <br>г. Сочи–Дагомыс, 27 сентября – 4 октября 2015 г.
                    <br>Окончание ранней регистрации: 31 июля 2015 г.
                </li>
                <br>
                <li class="lii"><a href="http://iws.boku.ac.at/"> Eighth International Workshop on Simulation </a>
                    <br>г. Вена, Австрия, 21 - 25 сентября 2015 г.
                    <br>Окончание ранней регистрации: 1 мая 2015 г.
                    <br>Предоставить тезисы необходимо до 30 июня 2015 г.
                </li>
                <br>
                <li class="lii"><a href="http://www.amsa.conf.nstu.ru/amsa2015/"> Third International Workshop
                    “Applied Methods of Statistical Analysis. Nonparametric Approach” – AMSA’2015</a>
                    <br>г. Белокуриха, Алтайский край, 14 - 19 сентября 2015 г.
                    <br>Окончание ранней регистрации: 20 мая 2015 г.
                    <br>Предоставить тезисы необходимо до 20 февраля 2015 г.
                </li>
                <br>
                <li class="lii"><a href="http://www.pdmi.ras.ru/EIMI/2015/Linnik/index.html"> Yu.V.Linnik Centennial Conference
                    "Analytical methods in number theory, probability theory and mathematical statistics"</a>
                    <br>г. Санкт-Петербург, 14 - 18 сентября 2015 г.
                    <br>Предоставить тезисы необходимо до 15 апреля 2015 г.
                </li>


            </ul>
            <br><br>
        </div>
    </div>
</section>
