<section class="gallery generic-section">
    <div class="container" id="menu-gallery">

        <div class="row title">
            <h1>Meet all our locations</h1>

            <h3>You can learn online, or at our ground locations where you can learn on campus, online, or a blend of
                both. </h3>
        </div>

        <div class="row">
            <ul class="grid cs-style-4">
                <li>
                    <figure>
                        <div><img src="pictures/08.jpg" alt="img02"></div>
                        <figcaption>
                            <h3>Safari</h3>
                            <span>Jacob Cummings</span>
                            <a class="btn" href="img/gallery/01.jpg" title="Realm">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/08.jpg" alt="img02"></div>
                        <figcaption>
                            <h3>Game Center</h3>
                            <span>Jacob Cummings</span>
                            <a class="btn" href="img/gallery/02.jpg" title="Image Title">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/08.jpg" alt="img02"></div>
                        <figcaption>
                            <h3>Music</h3>
                            <span>Jacob Cummings</span>
                            <a class="btn" href="img/gallery/03.jpg" title="Image Title">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/08.jpg" alt="img02"></div>
                        <figcaption>
                            <h3>Settings</h3>
                            <span>Jacob Cummings</span>
                            <a class="btn" href="img/gallery/04.jpg" title="Image Title">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
