<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="col-lg-6 col-sm-6">
                    <img class="imgright" src="pictures/Linnik.jpg" title="Ю.В. Линник"/>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>

<div ng-include="'views/news.html'"></div>

<div ng-include="'views/about/about.html'"></div>

<div ng-include="'views/staff.html'"></div>


