<section>
    <div class="container">
        <div class="row">
            <h2 class="section-header">Новости</h2>
            <div ng-controller="NewsController">
                <div ng-repeat="newsItem in topNews">
                    <p>
                    {{newsItem.date}}
                    <br/>
                        <b>{{newsItem.header.view()}}</b>
                    <br/>
                    <span ng-bind-html="showNews(newsItem)"></span>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <hr>
    </div>
</section>
