<section ng-controller="PersonalPageController">
    <div class="container">
        <div class="row" ng-model="item">
            <img src="{{item.img}}" align="right" style="height: 321px; width: 250px; "/>

            <br/><br/>

            <h1>{{item.name}}</h1>
            <br/>
            <web address="{{item.web}}" ng-if="item.web != null"/>
            <email address="{{item.email}}" ng-if="item.email != null"/>
            <br/><br/>

            <div ng-if="item.interests != null">
                <h2>Область научных интересов</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="interest in item.interests">{{interest}}</li>
                </ul>
            </div>
            <div ng-if="item.docs != null">
                <h2>Методические материалы</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="doc in item.docs">
                        <doc address="{{doc.url}}" name="{{doc.name}}" ng-if="doc.type == 'doc'"/>
                        <pdf address="{{doc.url}}" name="{{doc.name}}" ng-if="doc.type == 'pdf'"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
