<section>
    <div class="container">
        <h2 class="section-header">Сотрудники</h2>
        <div ng-controller="StaffController" class="row">
            <div class="slick-track">
                <div ng-repeat="staffItem in staff">
                    <div class="slick-slide slick-cloned">
                        <a class="thumbnail" ng-href="{{itemLink(staffItem)}}">
                            <img ng-src="{{staffItem.img}}" alt="{{staffItem.name}}"
                                 data-toggle="tooltip"
                                 data-placement="bottom"
                                 title="{{staffItem.name}}"
                                 style="height: 100px;width: 100px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
