<section>
    <div class="container">
        <div class="row">
            <h1 class="col-md-offset-4" style="font-size: 3m; ">Кафедральные спецкурсы</h1>
        </div>

        <div class="row">
            <p align="left">
                <font color="black" style = "font-weight: bold;"> Порядковые статистики </font>
                <br>
                (В.Б. Невзоров, VII семестр)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;"> Рекорды и рекордные величины</font>
                <br>
                (В.Б. Невзоров, VII семестр)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;"> Теория риска в страховании</font>
                <br>
                (С.С. Валландер, VII семестр)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;">Случайные процессы</font>
                <br>
                (А.Н. Бородин, VII - VIII семестры)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;">  Теория случайных процессов в актуарных и финансовых приложениях</font>
                <br>
                (О.В. Русаков, VIII семестр)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;"> Дополнительные главы математической статистики</font>
                <br>
                (Я.Ю. Никитин, VIII семестр)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;"> Предельные теоремы</font>
                <br>
                (А.Н. Фролов, IX семестр, вечернее отделение)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;">  Гауссовские случайные функции</font>
                <br>
                (М.А. Лифшиц, IX семестр)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;">Большие уклонения</font>
                <br>
                (М.А. Лифшиц, IX семестр)
            </p>

            <p align="left">
                <font color="black" style = "font-weight: bold;">  Теория функционального оценивания</font>
                <br>
                (И.А. Ибрагимов, IX семестр)
            </p>
        </div>
        <br><br>
    </div>
</section>
