<section>
    <div class="container">
        <div class="row">
            <h1 class="col-md-offset-4" style="font-size: 2em;">Graduate works, 2014-2015</h1>
        </div>
        <br>
        <div class="row">

            <p align="left">
                <br>
                <a href="files/diplom1415.doc">
                    Topics for the Bachelor work, 2014-2015
                </a>
            </p>
            <p align="left">
                <a href="files/magistr_diplom1415.doc">
                    Topics for the Graduate work, 2014-2015
                </a>
            </p>
            <p align="left">
                <a href="files/valla_dipl.pdf">
                    Example of the Graduate work
                </a>
            </p>
        </div>

        <div class="row">
            <h1 class="section-header" style="font-size: 1.5em;">Term papers, 2014-2015</h1>
        </div>

        <div class="row">
            <br>
            <a href="files/kursrab2k_14.doc"> Second year education </a>
            <br>
            <a href="files/kursrab3k_14.doc"> Third year education </a>
            <br>
        </div>
        <br> <br>
    </div>
</section>
