<section>
    <div class="container">
        <div class="row">
            <h1 class="col-md-offset-3" style="font-size: 2em;">Студентам - будущим выпускникам кафедры</h1>
        </div>
        <br/>
        <div class="row">
            <p>  Для успешного окончания университета необходимо выполнение выпускной квалификационной  работы.
                Многолетний опыт говорит, что весьма полезно деятельность по выполнению выпускной квалификационной
                работы начинать не позднее сентября. Для этого необходимо к началу сентября выбрать тему и научного руководителя.
                С целью вам помочь в выборе ниже приводится список тем работ с указанием руководителя.
            </p>
            <p>
                Настоятельная просьба: до 15 сентября  определиться
                <br/>1) с темой работы,
                <br/>2) сообщить на кафедру сведения о месте практики и о теме дипломной (выпускной) работы.
            </p>

            <p align="left">
                <br/>
                <a href="files/diplom1415.doc">
                    Темы дипломных работ, 2014-2015
                </a>
            </p>
            <p align="left">
                <a href="files/magistr_diplom1415.doc">
                    Темы выпускных квалификационных работ, 2014-2015
                </a>
            </p>
            <p align="left">
                <a href="files/valla_dipl.pdf">
                    Образец дипломной работы
                </a>
            </p>
        </div>

        <div class="row">
            <h1 class="col-md-offset-4" style="font-size: 1.5em;">Темы курсовых работ, 2014-2015</h1>
        </div>

        <div class="row">
            <br/>
            <a href="files/kursrab2k_14.doc"> 2-й курс </a>
            <br/>
            <a href="files/kursrab3k_14.doc"> 3-й курс </a>
            <br/>
        </div>
        <br/><br/>
    </div>
</section>
