<section>
    <div class="container" id="history">
        <div class="row title">
            <h1 class="section-header" translate>MENU_ABOUT</h1>
        </div>

        <div class="row">
            <ul class="grid cs-style-4">
                <li>
                    <figure>
                        <div><img src="pictures/prob_leader.gif" alt="История" style="height: 183px; width: 275px;"></div>
                        <figcaption>
                            <h3 translate>HISTORY</h3>
                            <a class="btn" to-with-lang destination="/about/history" translate>MORE</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/medal.jpg" alt="Награды" style="height: 183px; width: 275px;"></div>
                        <figcaption>
                            <h3 translate>AWARDS</h3>
                            <a class="btn" to-with-lang destination="/about/awards" translate>MORE</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/images1.jpg" alt="Книги" style="height: 183px; width: 275px;"></div>
                        <figcaption>
                            <h3 translate>BOOKS</h3>
                            <a class="btn" href="files/books.pdf" translate>MORE</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/graduates.jpg" alt="Выпускники" style="height: 183px; width: 275px;"></div>
                        <figcaption>
                            <h3 translate>GRADUATE</h3>
                            <a class="btn" href="files/doctors.pdf" translate>MORE</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
