<section>
    <div class="container" id="history">
        <div class="row title">
            <h1 class="section-header">О Кафедре</h1>
        </div>

        <div class="row">
            <ul class="grid cs-style-4">
                <li>
                    <figure>
                        <div><img src="pictures/history-book.png" alt="История"></div>
                        <figcaption>
                            <h3>История</h3>
                            <a class="btn" href="#/about/history">Посмотреть</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/08.jpg" alt="Награды"></div>
                        <figcaption>
                            <h3>Награды</h3>
                            <a class="btn" href="#/about/awards">Посмотреть</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/03_007.jpg" alt="Книги"></div>
                        <figcaption>
                            <h3>Книги</h3>
                            <a class="btn" href="#/about/books">Посмотреть</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <div><img src="pictures/08.jpg" alt="Выпускникам"></div>
                        <figcaption>
                            <h3>Выпускникам</h3>
                            <a class="btn" href="#/about/graduates">Посмотреть</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
