<section>
    <div class="container">
        <div class="row">
            <h1 class="section-header" translate>Награды и премии</h1>
        </div>
        <br>
        <div class="row">
            Выполненные на кафедре теории вероятностей и математической статистики
            научные труды отмечены рядом престижных премий.
            <br><br>

            <b> Ю.В.Линник </b> и
            <b>И.А.Ибрагимов </b>
            стали лауреатами
            <b> Ленинской премии</b>
            (высшая научная награда СССР) и академиками РАН по отделению математики.
            <br><br>

            <b>Премия имени Маркова</b> присуждена <b> В.В.Петрову</b>
            (1971 г.)
            Академией Наук СССР и <b>А.Ю.Зайцеву</b> (2009 г.) Российской Академией Наук.

            <br><br>

            В разные годы
            <b>премиями Санкт-Петербургского (Ленинградского) университета</b>
            за лучшую научную работу отмечались
            исследования
            <b> Ю.В.Линника, Н.А.Сапогова, В.А.Статулявичуса </b>
            (в то время аспиранта кафедры,
            впоследствии литовского академика и главы обширной литовской научной школы теории вероятностей),
            <b>В.В.Петрова, С.М.Ермакова, Л.В.Осипова, Я.Ю.Никитина, В.Б.Невзорова</b>
            и
            <b>М.А.Лифшица</b>.
            <br><br>

            <b>Премиями Санкт-Петербургского (Ленинградского) Математического общества</b>
            награждены
            <b> Ю.А.Давыдов, М.А.Лифшиц, В.В.Высоцкий, Р.С.Пусев</b>.
            <br><br>

            <b> М.И. Гордину</b> Гёттингенская академия наук присудила в 2013 г. почетное звание
            <b>"Гауссовский профессор"</b>.
            Это почетное звание присуждается выдающимся иностранным ученым. Напомним, что К.- Ф. Гаусс проработал в
            Гёттингенском
            университете почти полвека.
        </div>
        <br>
    </div>
</section>
