<section>
    <div class="container">
        <div class="row">
            <h1 class="section-header"  translate>AWARDS</h1>
        </div>
        <br>
        <div class="row">
            A number of scientific works produced at the Chair of Probability Theory and Mathematical Statistics
            was distinguished by prestigious prizes.
            <br><br>

            <b> Yu.V. Linnik </b> and
            <b>I.A. Ibragimov </b>
            were awarded by
            <b> Lenin Prize</b>
            (the highest scientific honor of the USSR)
            and elected to the Soviet (now Russian) Academy of Sciences as full members.
            <br><br>

            The <b>Markov Prize</b> was awarded to <b> V.V. Petrov</b>
            (1971) by the Soviet Academy of Sciences and <b>A.Yu. Zaitsev</b> (2009) by the Russian Academy of Sciences.
            <br><br>

            The
            <b>Prizes of St.Petersburg (formerly Leningrad) State University</b>
            for the best scientific works
            were awarded in different years to
            <b> Yu.V. Linnik, N.A. Sapogov, V.A. Statulevi&ccedil;ius </b>
            (at that time a Ph.D. student
            of the chair; later he became the head of a vast Lithuanian school of probability theory),
            <b>V.V. Petrov, S.M. Ermakov, L.V. Osipov, Ya.Yu. Nikitin, V.B. Nevzorov</b>
            and <b>M.A. Lifshits</b>.
            <br><br>

            The <b>Saint-Petersburg (formerly Leningrad) Mathematical Society</b>
            awarded its annual prizes to
            <b> Yu.A. Davydov, M.A. Lifshits, V.V. Vysotsky, R.S. Pusev</b>.
            <br><br>

            <b> M.I. Gordin</b> was awarded by honorary title
            <b>"Gaussian Professor"</b> by Gottingen Academy of Sciences (2013).
        </div>
        <br>
    </div>
</section>
