<section>
    <div class="container" id="history_eng">
        <div class="row">
            <h1 class="section-header">Chair history</h1>
        </div>
        <br/>
        <div class="row">
            <div><img src="pictures/cheby.jpg" title="П.Л. Чебышев" style="padding: 5px; border: 1px solid #666;
                      margin-left: 20px; float: right;"></div>
            The  school of Probability theory at St.Petersburg State University was founded by the great Russian
            mathematicians
            <b>P.L. Chebyshev, A.M. Lyapunov </b>
            and
            <b>A.A. Markov</b>
            whose works determined  the development of Probability Theory
            for many years.
            Their predecessor
            <b>V.Ya. Buniakovsky</b>,
            published the first Russian textbook on Probability (Gauss used this book for
            learning Russian language); in particular, in this textbook he considered original problems of statistical quality control.
            <br/><br/>

            The probabilistic works of Chebyshev and his school were later continued by
            <b> S.N. Bernstein</b>.
            <br/><br/>
            <div><img src="pictures/prob_leader.gif" align="right" style="height: 225px; width: 326px; padding: 5px; border: 1px solid #666;
                      margin-right: 24px; float: left;"/></div>

            A new era of this research direction started in 1948 by foundation of the Chair of Probability Theory and Mathematical Statistics
            as a unit of the Department of Mathematics and Mechanics. Its founder,
            <b>Yury Vladimirovich Linnik</b>,
            was already famous at that time
            for his outstanding discoveries in Nuber Theory and started working also in Probability.
            A large group of actively working students formed soon, attracted by his impressive personality.
            <br/><br/>
                        In 50-th
            <b>Yu.V. Linnik, N.A. Sapogov, O.V. Sarmanov, V.P. Skitovich, V.V. Petrov, I.A. Ibragimov</b>,
            were among Chair's faculty. In 60-th the Chair was joined by <b>Yu.A. Davydov, Ya.Yu. Nikitin, L.V. Osipov, A.G. Bart</b>
            and later by <b>V.B. Nevzorov,
            S.S. Vallander, V.V. Nekrutkin,  S.M. Ermakov</b> and <b>V.N. Solntsev </b> (in 1979 the latter trio and A.G.Bart left for the new
            Chair of Statistical Modelling founded by S.M.Ermakov on the base of our Chair's section).
            <b>S.M. Ananievskii, A.I. Martikainen, A.N. Frolov, O.V. Rusakov, M.A. Lifshits, V.L. Abbakoumov, A.N. Tikhomirov</b> became the
            Chair's faculty later.
            <br/><br/>
            <b>N.N. Vorobiev, V.N. Sudakov, A.M. Kagan, M.S. Nikouline, V.N. Solev,
                M.I. Gordin, V.A. Egorov, A.N. Borodin, A.Yu. Zaitsev, L.V. Rozovsky, S.V. Malov, E.B. Ponikarov, D.N. Zaporozhets,
                N.V. Gribkova</b> collaborated by teaching Chair's courses while holding their principal positions elsewhere.
            Most of them earlier graduated from our Chair.
            <br/><br/>

            After Yu.V. Linnik, the Chair was headed by <b>V.V. Petrov</b> (in 1960-1995),
            <b>I.A. Ibragimov</b> (in 1995-2005) and <b>Ya.Yu. Nikitin</b>
            (since 2005).
            <br/><br/>
            <div><img src="pictures/Linnik.jpg" title="Ю.В. Линник" style="height: 250px; width: 184px; padding: 5px; border: 1px solid #666;
                      margin-left: 14px; float: right;"></div>
            The main directions of scientific work at the Chair are
            <ul>
                <li class="lii"> limit theorems of Probability Theory</li>
                <li class="lii"> theory of random processes</li>
                <li class="lii"> asymptotic methods of mathematical statistics</li>
                <li class="lii"> charachterisation problems</li>
            </ul>
            The corresponding important research results published in Russian and foreign journals and monographs are widely
            acknowledged and obtained important
            <a href="awards_eng.html" translate>AWARDS</a>.
            <br/><br/>

            The Chair's faculty is teaching Probability and Statistics not only within mathematical department but also
            in other departments of the university. The most important connections the Chair maintains with
            the deprtment of Economy. The first lectures in Probability at this department were given by
            professors <b>A.A. Markov</b> (the son of the founder of Markov processes' theory) and by
            <b>Yu.V. Linnik</b> himself.
            <br/><br/>
            Many hundreds of students graduated from the Chair after having passed specialization in probability and
            statistics. In sixties and seventies from 20 to 50 memoirs were being defended annually at the Chair.
            The current annual number of defences is close to 15.
            <br/><br/>

            The Chair's graduates are successfully working in Russia and abroad. Mor than 40 of them obtained
            the degree of <a href="files/doctors_eng.pdf">Doctor of Science</a> (the second and supreme scientific degree in Soviet Union and Russia).
            Then 1961-graduate <b>Chen Hanfu</b>  became a member of Chinese Academy of Sciences. Former
            Ph.D.-students of Yu.V. Linnik and V.V. Petrov, <b>W. Wolf, G. Christoph</b>  (currently the professor
            of Magdeburg University), and <b>T. Mikosch</b>  (currently the professor of Copenhagen
            University), became the leading
            specialists of Germany (GDR) in Probability Theory.
            <br/><br/>
            The current Chair's faculty team contains 10 Doctors of Science.
            <br/><br/>
            Chair's faculty lectured, as invited professors, at the universities of USA, France, Germany, Italy, Canada, Australia, Belgium,
            Finland, Mexico and other countries.
            <br/><br/>
            It would be fair to claim that Chair of Probability and Statistics is one of the most successful chairs of
            St.-Petersburg University.
            <br/>
            <br/>

            <p align="left">
                <i> V.V. Petrov</i>
            </p>
            <br/>
        </div>
    </div>
</section>
