<section>
    <div class="container" id="history">
        <div class="row">
            <h1 class="section-header">История кафедры</h1>
        </div>
        <br/>
        <div class="row">
            <div><img src="pictures/cheby.jpg" title="П.Л. Чебышев" style="padding: 5px; border: 1px solid #666;
                      margin-left: 20px; float: right;"></div>
            Основателями научной школы в области теории вероятностей в Петербургском университете были великие русские
            математики
            <b>П.Л.Чебышев, А.М.Ляпунов</b>
            и
            <b>А.А.Марков</b>.
            Их работы сыграли определяющую роль в развитии теории вероятностей.
            Им предшествовал
            <b>В.Я.Буняковский</b>,
            опубликовавший первый русский учебник по теории вероятностей (по которому
            Гаусс учился русскому языку); в частности,в этом учебнике впервые рассматривалась задача статистического
            контроля приемки качества продукции.
            <br/><br/>

            После Чебышева и его круга теоретико-вероятностные исследования в Петербургском университете были продолжены
            <b> С.Н.Бернштейном</b>.
            <br/><br/>

            <div><img src="pictures/prob_leader.gif" align="right" style="height: 225px; width: 326px; padding: 5px; border: 1px solid #666;
                      margin-right: 24px; float: left;"/></div>
            Начало нового расцвета этих исследований в нашем университете было положено в
            1948 году основанием кафедры теории вероятностей и математической статистики; ее создатель
            <b>Ю.В.Линник</b>,
            к тому времени прославившийся своими замечательными открытиями в теории чисел, начал работать и в области
            теории вероятностей и вскоре воспитал многочисленный коллектив активно работающих учеников.
            <br/><br/>


            В 50-х годах в состав кафедры входили
            <b>Ю.В.Линник, Н.А.Сапогов, О.В.Сарманов, В.П.Скитович, В.В.Петров,
                И.А.Ибрагимов</b>.
            В 60-х годах сотрудниками кафедры стали
            <b>Ю.А.Давыдов, Я.Ю.Никитин, Л.В.Осипов,
                А.Г.Барт</b>,
            позднее - <b>В.Б. Невзоров, С.С.Валландер, В.В.Некруткин, С.М.Ермаков, В.Н.Солнцев </b>
            (в 1979 г. трое
            последних и А.Г.Барт перешли на новую кафедру статистического моделирования, организованную С.М.Ермаковым
            на базе специализации кафедры теории вероятностей и математической статистики),
            <b>С.М.Ананьевский, А.И.Мартикайнен,
                А.Н.Фролов, О.В.Русаков, М.А.Лифшиц, В.Л.Аббакумов, А.Н.Тихомиров</b>.
            <br/><br/>
            По совместительству на кафедре работали
            <b>Н.Н.Воробьев, В.Н.Судаков, А.М.Каган, М.С.Никулин, В.Н.Солев, М.И.Гордин, В.А.Егоров,
                А.Н.Бородин, А.Ю.Зайцев,
                Л.В.Розовский, С.В.Малов, Е.В.Поникаров, Д.Н.Запорожец, Н.В.Грибкова</b>. Почти все они были выпускниками
            кафедры.
            <br/><br/>
            <div><img src="pictures/Linnik.jpg" title="Ю.В. Линник" style="height: 250px; width: 184px; padding: 5px; border: 1px solid #666;
                      margin-left: 14px; float: right;"></div>
            Основными направлениями научной работы на кафедре являются
            <ul>
                <li class="lii"> предельные теоремы теории вероятностей</li>
                <li class="lii"> теория случайных процессов</li>
                <li class="lii"> асимптотические методы математической статистики</li>
                <li class="lii"> характеризационные задачи</li>
            </ul>
            Полученные в этих направлениях результаты, опубликованные в российских и зарубежных журналах и книжных
            издательствах, пользуются широким признанием и отмечены престижными
            <a href="#/about/awards">научными премиями</a>.
            <br/><br/>

            Сотрудники кафедры занимаются преподаванием теории вероятностей и математической статистики не только на мат-мехе,
            но и на других факультетах университета. Особенно глубоки связи кафедры с экономическим факультетом.
            Первые курсы лекций по теории вероятностей на экономическом факультете были прочитаны профессорами матмеха
            <b>А.А.Марковым </b>(сыном основателя теории марковских процессов) и <b>Ю.В.Линником</b>.
            <br/><br/>
            Многие сотни выпускников матмеха прошли специализацию на кафедре теории вероятностей и математической статистики.
            В 60-70 годах ежегодно проходили защиты от 20 до 50 дипломных работ, выполненных на кафедре (в последние годы -
            около
            15).
            <br/><br/>

            Выпускники кафедры успешно работают в России и за рубежом.
            <a href="files/doctors.pdf"> Докторами наук </a>
            стали более 40 выпускников
            кафедры и ее аспирантуры. Выпускник кафедры 1961 года <b>Чэнь Ханьфу </b> стал
            академиком Китайской Академии наук.
            Ведущими специалистами в области теории вероятностей в ГДР были бывшие аспиранты Ю.В.Линника и
            В.В.Петрова <b>В.Рихтер, В.Вольф, Т.Микош </b>
            (ныне профессор Копенгагенского университета и Associate Editor
            семи международных теоретико-вероятностных журналов).
            <br/><br/>
            В настоящее время среди сотрудников кафедры
            10 докторов наук. Преподаватели кафедры побывали в качестве приглашенных профессоров в университетах
            США, Франции, Германии, Италии, Канады, Австралии, Бельгии, Финляндии, Мексики и ряда других стран.
            <br/><br/>
            Можно утверждать, что кафедра теории вероятностей и математической статистики является одной из наиболее успешных
            кафедр факультета и университета.
            <br/>
            <br/>

            <p align="left">
                <i> В.В. Петров</i>
            </p>
            <br/>
        </div>
    </div>
</section>
